<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form #newEventForm="ngForm" (ngSubmit)="saveEvent()" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="eventName">Event Name:</label>
      <em *ngIf="newEventForm.controls[FormFields.NAME]?.invalid && (newEventForm.controls['name']?.touched)">Required</em>
      <input  (ngModel)="newEvent.name" [name]="FormFields.NAME" required id="name" type="text" class="form-control" placeholder="Name of your event..." />
    </div>
    <div class="form-group">
      <label for="eventDate">Event Date:</label>
      <em *ngIf="newEventForm.controls[FormFields.DATE]?.invalid && (newEventForm.controls['date']?.touched)">Required</em>
      <input  (ngModel)="newEvent.date" [name]="FormFields.DATE" required id="date" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />

    </div>
   <div class="form-group">
      <label for="eventTime">Event Time:</label>
      <em *ngIf="newEventForm.controls[FormFields.TIME]?.invalid && (newEventForm.controls['time']?.touched)">Required</em>
      <input  (ngModel)="newEvent.time" [name]="FormFields.TIME" required id="time" type="text" class="form-control" placeholder="start and end time..." />

    </div>
    <div class="form-group" >
      <label for="eventPrice">Event Price:</label>
    <em *ngIf="newEventForm.controls[FormFields.PRICE]?.invalid && (newEventForm.controls['price']?.touched)">Required</em>
      <input  (ngModel)="newEvent.price" [name]="FormFields.PRICE" required id="price" type="text" class="form-control" placeholder="event price..." />
    </div>
    
    <div ngModuleGroup="location">
    <div class="form-group">
      <label for="address">Event Location:</label>
      <input (ngModel)="newEvent.address" name="address" id="address" type="text" class="form-control" placeholder="Address of event..." />
    </div>
    <div class="row">
      <div class="col-md-6">
        <input (ngModel)="newEvent.city" name="city" id="city" type="text" class="form-control" placeholder="City..." />
      </div>
      <div class="col-md-6" >
        <input (ngModel)="newEvent.country" name="country" id="country" type="text" class="form-control" placeholder="Country..." />
      </div>
    </div>
    </div>

    <div class="form-group">
      <label for="onlineUrl">Online Url:</label>
      <input (ngModel)="newEvent.onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control" placeholder="Online Url..." />
    </div>
   <!----<div class="form-group">
      <label for="imageUrl">Image:</label>
      <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched && newEventForm.controls.imageUrl?.errors.required">Required</em>
      <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched  && newEventForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="newEvent.imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
      <img />
    </div> -->
    
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newEventForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>